<h1>Expense tracker app</h1>

<form action="/home" method="post">
<h2>Add expense</h2>

<P>Desciption: </P><input type="text" name="expenseInput">
<P>Amount: </P><input type="text" name="amountInput">

<h2>Category</h2>

<input type="radio" name="category" value="6"> Daily
<input type="radio" name="category" value="1"> Weekly
<input type="radio" name="category" value="3"> Weekday
<input type="radio" name="category" value="4"> Weekend
<input type="radio" name="category" value="5"> Once-off
<input type="radio" name="category" value="2"> Monthly


<Button onclick="getCheckedRadioValue()" type="submit">Add expense</Button>
</form>

<h2>Total expense</h2> <p>R {{categoryTotals.mass}}</p>

<h2>Expense summary per category</h2>

<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Totals</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Daily</td>
            <td>{{categoryTotals.daily}}</td>
        </tr>
        <tr>
            <td>Weekly</td>
            <td>{{categoryTotals.weekly}}</td>
        </tr>
         <tr>
            <td>Monthly</td>
            <td>{{categoryTotals.monthly}}</td>
        </tr>
        <tr>
            <td>Weekday</td>
            <td>{{categoryTotals.weekday}}</td>
        </tr>
         <tr>
            <td>Weekend</td>
            <td>{{categoryTotals.weekend}}</td>
        </tr>
        <tr>
            <td>Once-off</td>
            <td>{{categoryTotals.onceOff}}</td>
        </tr>
    </tbody>
</table>

<a href="/allexpenses">View expenses</a>